<h2><%= f.label :line, "最寄り駅#{i}" %></h2>
<div class="field">
  <%= f.label :line %>
  <%= f.text_field :line %>
</div>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :minute_walk %>
  <%= f.number_field :minute_walk, min: 1 %>分
</div>