<p id="notice"><%= notice %></p>

<h1>閲覧</h1>
<p>
  <strong>物件名:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= number_with_delimiter(@building.rent) %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @building.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @building.notes %>
</p>

<div class="stations-info">
  <% @building.nearest_stations.each do |station| %>
    <% @i += 1 %>
    <%= render "stations_info", station: station, i: @i %>
  <% end %>
</div>

<%= link_to '編集', edit_building_path(@building) %> |
<%= link_to '戻る', buildings_path %>
