<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @building.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @building.age %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @building.notes %>
</p>

<div class="stations-info">
  <% @building.nearest_stations.each do |station| %>
    <% @i += 1 %>
    <%= render "stations_info", station: station, i: @i %>
  <% end %>
</div>

<%= link_to '編集', edit_building_path(@building) %> |
<%= link_to '戻る', buildings_path %>
